<footer class="footer-wrapper" style="background-color: #F9FCFF;">
  <div class="w-layout-blockcontainer container-default w-container">
    <div class="footer-bottom _01">
      <p class="display-4" style="font-size:16px">Copyright © <strong class="bold-text-2">Hostie</strong> | A Company By <img height="15px" width="auto" src="../static/images/logo-stridax.png" /></p>
      <div class="social-media-flex">
        <p class="display-4" style="font-size:13px">
            <a href="/{{current_lang}}/privacy-policy" style="text-decoration: none;color: #545d73">{{translations.footer_privacy_policy}}</a>&nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="/{{current_lang}}/cookies-policy" style="text-decoration: none;color: #545d73">{{translations.footer_cookies_policy}}</a>&nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="/{{current_lang}}/terms-and-conditions" style="text-decoration: none;color: #545d73">{{translations.footer_terms_and_conditions}}</a>
        </p>
      </div>
    </div>
  </div>
</footer>