<div data-w-id="c5a10a2d-1ce6-df65-3882-e8a1991bf291" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="header-wrapper w-nav">
    <div class="container-default w-container">
      <div data-w-id="d4b2bf54-bf7c-1b29-d500-9ded72507fcc" class="header-container-wrapper">
        <div class="nav-menu-left-side grow-tablet">
          <div class="logo-wrapper">
            <a href="https://www.hostie.me" aria-current="page" class="logo-link w-inline-block w--current"><img src="../static/images/logo-hostie.png" alt="" sizes="(max-width: 479px) 86px, (max-width: 767px) 180px, 130px" srcset="../static/images/logo-hostie-p-500.png 500w, ../static/images/logo-hostie.png 699w" class="header-logo"></a>
          </div>
          <div class="flex-horizontal growth-tablet gap-22px">
            <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
              <ul role="list" class="list-nav-menu">
                <li class="link-nav-item">
                  <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/" aria-current="page" class="link-copy-copy w-inline-block w--current">
                    <div class="inline-block">{{translations.nav_home}}</div>
                  </a>
                </li>
                <li class="link-nav-item">
                  <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/solutions" class="link-copy-copy w-inline-block">
                    <div class="inline-block">{{translations.nav_solutions}}</div>
                  </a>
                </li>
                <li class="link-nav-item">
                  <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/awards" class="link-copy-copy w-inline-block">
                    <div class="inline-block">{{translations.nav_awards}}</div>
                  </a>
                </li>
                <li class="link-nav-item">
                  <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/quality" class="link-copy-copy w-inline-block">
                    <div class="inline-block">{{translations.nav_quality}}</div>
                  </a>
                </li>
                <li class="link-nav-item">
                  <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/pricing" class="link-copy-copy w-inline-block">
                    <div class="inline-block">{{translations.nav_pricing}}<br></div>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="nav-menu-right-side">
          <div class="hidden-on-tablet">
            <div class="social-media-flex">
              <a target="_blank" class="icon-font-wrapper text-neutral-100 text-decoration-none w-inline-block">
                <div class="text-block-4" style="color: #000;font-weight: 600;padding-top: 7px;">{{translations.nav_email}}</div>
              </a>
            </div>
          </div>
          <div class="hide-on-mobile-landscape">
            <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
              <div class="text-block">{{translations.nav_contact}}</div>
            </a>
          </div>
          <div class="hamburger-menu w-nav-button">
            <div class="hamburger-menu-flex">
              <div class="hamburger-menu-line top"></div>
              <div class="hamburger-menu-line middle"></div>
              <div class="hamburger-menu-line bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>