<!DOCTYPE html>
<html data-wf-page="6686b9ca3be2d849d6487900" data-wf-site="6686b9ca3be2d849d6487845" lang="{{current_lang}}">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta content="{{description}}" name="description">
  <meta content="{{title}}" property="og:title">
  <meta content="{{description}}" property="og:description">
  <meta content="{{title}}" property="twitter:title">
  <meta content="{{description}}" property="twitter:description">

  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="../static/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../static/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../static/css/hostie-five-star-site-b12f92.webflow.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Inter:regular,600,800","Source Code Pro:regular,600,800"]  }});</script>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
  <style>.w-webflow-badge { display:none !important; }</style>
</head>
<body>
  <div class="page-wrapper">
    <div class="header-transparent">
        {% include "global/menu.html" %}

    <section class="section top-bottom-100px" style="margin-top: -30px;">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="mg-bottom-40px">
            
          <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918b3" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex-horizontal space-between gap-16px---flex-wrap">
            <div class="inner-container _732px _100-tablet">
              <div class="mg-bottom-8px">
                <div class="display-4 text-medium text-color-primary-2-copy">Listado de certificaciones</div>
              </div>
              <h2 class="display-9">Ofrecemos servicios de confianza con certificaciones que lo avalan</h2>
              <br><p class="paragraph-large mg-bottom-32px mg-bottom-20px-tablet">Comprueba las certificaciones de nuestro principal proveedor que cumple nuestras exigencias y estandares de calidad: <strong class="bold-text">Netcup</strong></p>
            </div>
          </div>
        </div>

        <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b918be-d6487900" style="margin-bottom: 35px;">
            <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918bf" style="opacity:0;width: 100%;display: flex;padding: 30px 50px" class="card w-inline-block">
                <img style="width: 200px; display: inline-block; margin-right: 20px;" src="https://www.netcup.com/uploads/SP_2022_51de2b2390.svg">
                <div>
                    <h3 class="display-7" style="color:#000; margin: 0;">Premios a Proveedores de Servicios 2023: Oro en la categoría Cloud Hosting</h3><br>
                    <p style="margin-bottom: 20px;" class="paragraph-large text-neutral-600" style="margin-top: 10px;">Cada año, Vogel IT-Akademie distingue a los mejores proveedores alemanes en 14 categorías diferentes en los Service Provider Awards.
                      <br>Gracias a nuestros clientes, hemos podido recibir el Service Provider Award 2023 de Oro en la categoría Cloud Hosting. El Service Provider Award se basa en la elección de los lectores, lo que demuestra lo importante que es la satisfacción de nuestros clientes. Estamos muy contentos y ¡gracias por los numerosos votos en la votación!</p>
                </div>
            </div>
        </div>

      </div>
    </section>

    
    <section class="cta-section-05" style="margin-bottom: 30px;">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="position-relative">
          <div class="cta-section-06">
            <div class="bg-floating-content border-radius-32px">
              <div class="bg-primary-02 _w-h-100"></div>
            </div>
            <div class="w-layout-grid grid-2-columns cta-grid-2-col-06">
              <div id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27dfa-d6487900" data-w-id="b2cbffd4-4681-2fb8-d526-dbddc2d27dfa" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="pd-64px-top-and-bottom pd-0-tablet">
                <div class="mg-bottom-8px">
                  <div class="display-4 text-medium text-neutral-100">Conectamos tu empresa con el mundo</div>
                </div>
                <h2 class="display-9 text-neutral-100">Impulsa tu Negocio con Hosting de Primera</h2>
                <div class="inner-container _566px _100-tablet">
                  <p class="paragraph-large text-neutral-200 mg-bottom-32px">Disfruta de velocidad, fiabilidad y soporte experto a un precio competitivo para llevar tu negocio al siguiente nivel en línea.</p>
                </div>
                <div class="buttons-row left">
                  <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
                    <div class="text-block">Contactanos</div>
                  </a>
                  <a id="w-node-_6e1ebe92-67bf-b8a3-d747-c93103f23850-03f23850" href="/{{current_lang}}/pricing" class="secondary-button white w-inline-block">
                    <div class="text-block" style="color:#fff!important;">Ver precios</div>
                  </a>
                </div>
              </div>
              <div id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27e08-d6487900" data-w-id="b2cbffd4-4681-2fb8-d526-dbddc2d27e08" style="opacity:0" class="z-index-1"><img src="../static/images/irexta.png" loading="lazy" id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27e09-d6487900" sizes="(max-width: 479px) 82vw, (max-width: 767px) 85vw, (max-width: 991px) 87vw, (max-width: 1439px) 42vw, 547.5833129882812px" alt="" srcset="../static/images/irexta-p-500.png 500w, ../static/images/irexta.png 683w" class="fit-cover _w-h-100"></div>
            </div>
          </div>
          <div class="inverted-border-radius-wrapper cta-section-06-right"><img src="../static/images/inverted-border-radius-v12-image-agencia-x-webflow-template.svg" alt="Inverted Border Radius V12 Image - Agencia X Webflow Template"></div>
        </div>
      </div>
    </section>
    
    {% include "global/footer.html" %}
  </div>
  <script src="../static/js/6686b9ca3be2d849d6487845.js" type="text/javascript"></script>
  <script src="../static/js/webflow.js" type="text/javascript"></script>
</body>
</html>