{% include "global/header.html" %}
<body>
  <div class="page-wrapper">
    {% include "global/menu.html" %}

    <section class="section hero contact-v3" style="padding-bottom: 70px;">
      <div class="w-layout-blockcontainer container-default w-container">
        <div data-w-id="c349e650-9f0a-194e-c169-15a6becc8cb0" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="mg-bottom-48px">
          <div class="w-layout-vflex flex-vertical center text-center">
            <div class="mg-bottom-8px">
              <div class="display-4 text-medium text-color-primary-2">Datos de contacto</div>
            </div>
            <h1 class="display-11 mg-bottom-16px">Ponte en contacto con nosotros</h1>
            <div class="inner-container _620px center">
              <p class="paragraph-large">Estamos aquí para ayudarte en cada paso: contáctanos para resolver tus dudas, recibir asesoría personalizada y obtener soporte técnico de expertos.</p>
            </div>
          </div>
        </div>
        <div data-w-id="1c3e6910-6c31-5d25-3e43-199672cb7c49" style="opacity:0" class="w-layout-grid grid-3-columns gap-28px">
          <div data-w-id="9f1092cb-f4d7-c043-3f6d-4e5901e4e81b" class="card contact-info-card w-inline-block">
            <div class="mg-bottom-24px"><img src="../static/images/help-and-support-icon-agencia-x-webflow-template.png" alt="Help And Support Icon - Agencia X Webflow Template"></div>
            <h2 class="display-6 mg-bottom-8px" style="color:#000">Ayuda y Soporte</h2>
            <p class="paragraph-large mg-bottom-4px">Lorem ipsum dolor amet consectetur adipiscing elit sed do eiusmod.</p>
            <div class="card-link-wrapper text-medium">
              <div class="inline" style="color: #2584FE;font-weight: 600;">support@agencia.com</div>
            </div>
          </div>
          <div data-w-id="333f9c1c-ee96-cbed-88a6-17ae631c2c80" class="card contact-info-card w-inline-block">
            <div class="mg-bottom-24px"><img src="../static/images/sales-and-enquiries-icon-agencia-x-webflow-template.png" alt="Sales And Enquiries Icon - Agencia X Webflow Template"></div>
            <h2 class="display-6 mg-bottom-8px" style="color:#000">Departamento de ventas</h2>
            <p class="paragraph-large mg-bottom-4px">Lorem ipsum dolor amet consectetur adipiscing elit sed do eiusmod.</p>
            <div class="card-link-wrapper text-medium">
              <div class="inline" style="color:#2584FE;font-weight: 600;">sales@hostie.me</div>
            </div>
          </div>
          <div data-w-id="6934ec72-5344-498c-d8f7-5d534d15ccab" class="card contact-info-card w-inline-block">
            <div class="mg-bottom-24px"><img src="../static/images/live-chat-icon-agencia-x-webflow-template.png" alt="Live Chat Icon - Agencia X Webflow Template"></div>
            <h2 class="display-6 mg-bottom-8px" style="color:#000">Otras consultas</h2>
            <p class="paragraph-large mg-bottom-4px">Lorem ipsum dolor amet consectetur adipiscing elit sed do eiusmod.</p>
            <div class="card-link-wrapper text-medium">
                <div class="inline" style="color:#2584FE;font-weight: 600;">info@hostie.me</div>
              </div>
          </div>
        </div>
      </div>
    </section>

    {% include "global/footer.html" %}
  </div>
  <script src="../static/js/6690d4fbf3709b75ac575942.js" type="text/javascript"></script>
  <script src="../static/js/webflow2.js" type="text/javascript"></script>
</body>
</html>