<!DOCTYPE html>
<html data-wf-page="6686b9ca3be2d849d6487900" data-wf-site="6686b9ca3be2d849d6487845" lang="{{current_lang}}">
<head>
  <meta charset="utf-8">
  <title>{{translations.title_home}}</title>
  <meta content="{{translations.content_home}}" name="description">
  <meta content="{{translations.title_home}}" property="og:title">
  <meta content="{{translations.content_home}}" property="og:description">
  <meta content="{{translations.title_home}}" property="twitter:title">
  <meta content="{{translations.content_home}}" property="twitter:description">

  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="../static/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../static/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../static/css/hostie-five-star-site-b12f92.webflow.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Inter:regular,600,800","Source Code Pro:regular,600,800"]  }});</script>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
  <style>.w-webflow-badge { display:none !important; }</style>
</head>
<body>
  <div class="page-wrapper">
    <div class="header-transparent">
      <div data-w-id="c5a10a2d-1ce6-df65-3882-e8a1991bf291" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="header-wrapper w-nav">
        <div class="container-default w-container">
          <div data-w-id="d4b2bf54-bf7c-1b29-d500-9ded72507fcc" class="header-container-wrapper">
            <div class="nav-menu-left-side grow-tablet">
              <div class="logo-wrapper">
                <a href="/{{current_lang}}" aria-current="page" class="logo-link w-inline-block w--current"><img src="../static/images/logo-hostie.png" alt="" sizes="(max-width: 479px) 86px, (max-width: 767px) 180px, 130px" srcset="../static/images/logo-hostie-p-500.png 500w, ../static/images/logo-hostie.png 699w" class="header-logo"></a>
              </div>
              <div class="flex-horizontal growth-tablet gap-22px">
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                  <ul role="list" class="list-nav-menu">
                    <li class="link-nav-item">
                      <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/" aria-current="page" class="link-copy-copy w-inline-block w--current">
                        <div class="inline-block">{{translations.nav_home}}</div>
                      </a>
                    </li>
                    <li class="link-nav-item">
                      <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/solutions" class="link-copy-copy w-inline-block">
                        <div class="inline-block">{{translations.nav_solutions}}</div>
                      </a>
                    </li>
                    <li class="link-nav-item">
                      <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/awards" class="link-copy-copy w-inline-block">
                        <div class="inline-block">{{translations.nav_awards}}</div>
                      </a>
                    </li>
                    <li class="link-nav-item">
                      <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/certifications" class="link-copy-copy w-inline-block">
                        <div class="inline-block">{{translations.nav_certifications}}</div>
                      </a>
                    </li>
                    <li class="link-nav-item">
                      <a id="w-node-_105c6810-7fd6-918e-ea4c-0a20c47f4eeb-c47f4eeb" data-w-id="105c6810-7fd6-918e-ea4c-0a20c47f4eeb" href="/{{current_lang}}/pricing" class="link-copy-copy w-inline-block">
                        <div class="inline-block">{{translations.nav_pricing}}<br></div>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="nav-menu-right-side">
              <div class="hidden-on-tablet">
                <div class="social-media-flex">
                  <a target="_blank" class="icon-font-wrapper text-neutral-100 text-decoration-none w-inline-block">
                    <div class="text-block-4">{{translations.nav_email}}</div>
                  </a>
                </div>
              </div>
              <div class="hide-on-mobile-landscape">
                <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
                  <div class="text-block">{{translations.nav_contact}}</div>
                </a>
              </div>
              <div class="hamburger-menu w-nav-button">
                <div class="hamburger-menu-flex">
                  <div class="hamburger-menu-line top"></div>
                  <div class="hamburger-menu-line middle"></div>
                  <div class="hamburger-menu-line bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section hero home-v1">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="w-layout-grid grid-2-columns home-v1-hero-grid">
          <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b91899-d6487900">
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9189a-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9189a" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="home-v1-description">
              <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9189b-d6487900" class="mg-bottom-8px">
                <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9189c-d6487900" class="display-4 text-medium text-color-primary-2">Alojamiento web sin ataduras</div>
              </div>
              <h1 class="display-11 mg-bottom-16px">12 Meses de alojamiento web gratuito</h1>
              <p class="paragraph-large mg-bottom-32px mg-bottom-20px-tablet">¿Buscas un alojamiento web confiable y asequible?<br><strong class="bold-text">¡No busques más!</strong></p>
              <div class="buttons-row left">
                <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
                  <div class="text-block">Contáctanos</div>
                </a>
                <a id="w-node-_9ac5c108-4a68-32dd-6e03-9f793bb88842-3bb88842" href="/{{current_lang}}/pricing" class="secondary-button w-inline-block">
                  <div class="text-block">Más información</div>
                </a>
              </div>
            </div>
          </div>
          <div class="home-v1-hero-image-wrapper">
            <img loading="eager" src="../static/images/home-hero-image-top-left-agencia-webflow-ecommerce-template.svg" alt="" class="home-v1-bg-top-left-shape show-on-tablet">
            <div class="half-bg-right home-v1-bg-right-wrapper">
              <img loading="eager" src="../static/images/home-hero-image-top-left-agencia-webflow-ecommerce-template.svg" alt="" class="home-v1-bg-top-left-shape"></div>
              <img class="hero-image" src="../static/images/hero-image.png" style="max-width: 130%;width: 130%;margin-top:-80px;margin-bottom: 40px;">
          </div>
        </div>
      </div>
    </section>
    <section class="section top-bottom-100px">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="mg-bottom-40px">
          <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918b3" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex-horizontal space-between gap-16px---flex-wrap">
            <div class="inner-container _732px _100-tablet">
              <div class="mg-bottom-8px">
                <div class="display-4 text-medium text-color-primary-2-copy">Beneficios empresariales</div>
              </div>
              <h2 class="display-9">La importancia de un alojamiento web para tu negocio</h2>
            </div>
            <div class="align-self-bottom width-100-mobile-portrait">
              <a id="w-node-_9ac5c108-4a68-32dd-6e03-9f793bb88842-3bb88842" href="/{{current_lang}}/solutions" class="secondary-button w-inline-block">
                <div class="text-block">Ver todos los beneficios</div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-2-columns services-2-col-grid">
          <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b918be-d6487900" class="w-layout-grid grid-1-column gap-row-32px">
            <a data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918bf" style="opacity:0" href="/{{current_lang}}/solutions" class="card service-card-01 gap-row-110px-desktop w-inline-block">
              <div class="flex-horizontal space-between gap-16px---flex-wrap">
                <div class="inner-container _204px">
                  <h3 class="card-heading display-7">Haz saber que existes</h3>
                </div>
                <div class="button-primary-circle">
                  <div class="button-circle-line vertical"></div>
                  <div class="button-circle-line"></div>
                </div>
              </div>
              <div class="inner-container _312px _100-tablet">
                <div class="mg-bottom-24px"><img src="../static/images/sales-and-enquiries-icon-agencia-x-webflow-template.png"></div>
                <p class="paragraph-large text-neutral-600">Aumenta la visibilidad de tu empresa y atrae más clientes en línea.</p>
              </div>
            </a>
            <a data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918cc" style="opacity:0" href="/{{current_lang}}/solutions" class="card service-card-01 pd-bottom-40px w-inline-block">
              <div class="flex-horizontal space-between gap-16px---flex-wrap">
                <div class="inner-container _204px">
                  <h3 class="card-heading display-7">Obtén datos de tu negocio</h3>
                </div>
                <div class="button-primary-circle">
                  <div class="button-circle-line vertical"></div>
                  <div class="button-circle-line"></div>
                </div>
              </div>
              <div class="inner-container _312px _100-tablet">
                <div class="mg-bottom-24px"><img src="../static/images/chart-icon-agencia-x-webflow-template.svg"></div>
                <p class="paragraph-large text-neutral-600">Accede a analíticas para entender mejor a tus clientes y optimizar tu estrategia.</p>
              </div>
            </a>
          </div>
          <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b918d9-d6487900" class="w-layout-grid grid-1-column gap-row-32px">
            <a data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918da" style="opacity:0" href="/{{current_lang}}/solutions" class="card service-card-01 pd-bottom-40px w-inline-block">
              <div class="w-layout-vflex flex-vertical space-between---align-stretch gap-24px">
                <div class="flex-horizontal space-between gap-16px---flex-wrap">
                  <div class="inner-container _204px">
                    <h3 class="card-heading display-7">Optimización<br> SEO</h3>
                  </div>
                  <div class="button-primary-circle">
                    <div class="button-circle-line vertical"></div>
                    <div class="button-circle-line"></div>
                  </div>
                </div>
                <div class="inner-container _314px _100-tablet">
                  <div class="mg-bottom-24px"><img src="../static/images/help-and-support-icon-agencia-x-webflow-template.png"></div>
                  <p class="paragraph-large text-neutral-600">Un buen hosting mejora la velocidad y seguridad de tu sitio, clave para un mejor posicionamiento en buscadores como Google.</p>
                </div>
              </div>
            </a>
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b918ea-d6487900" class="w-layout-grid grid-2-columns gap-column-28px---row-32px">
              <a data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918eb" style="opacity:0" href="/{{current_lang}}/solutions" class="card service-card-02 w-inline-block">
                <div class="flex-horizontal space-between gap-16px---flex-wrap">
                  <div class="inner-container _204px">
                    <h3 class="card-heading display-7">Vende<br>Online</h3>
                  </div>
                  <div class="button-primary-circle">
                    <div class="button-circle-line vertical"></div>
                    <div class="button-circle-line"></div>
                  </div>
                </div>
                <div class="inner-container _304px _100-tablet">
                  <div class="mg-bottom-24px"><img src="../static/images/cards-icon-agencia-x-webflow-template.svg"></div>
                  <p class="paragraph-large text-neutral-600">Abre nuevos canales de ventas y llega a más clientes ofreciendo tus productos o servicios a través de una tienda en línea.</p>
                </div>
              </a>
              <a data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b918fa" style="opacity:0" href="/{{current_lang}}/solutions" class="card service-card-02 w-inline-block">
                <div class="flex-horizontal space-between gap-16px---flex-wrap">
                  <div class="inner-container _204px">
                    <h3 class="card-heading display-7">Genera ventas</h3>
                  </div>
                  <div class="button-primary-circle">
                    <div class="button-circle-line vertical"></div>
                    <div class="button-circle-line"></div>
                  </div>
                </div>
                <div class="inner-container _304px _100-tablet">
                  <div class="mg-bottom-24px"><img src="../static/images/funnel-icon-agencia-x-webflow-template.svg"></div>
                  <p class="paragraph-large text-neutral-600">Aumenta tus ingresos alcanzando a más clientes potenciales y dandote a conocer fuera del ambito local.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section top-bottom-100px overflow-hidden">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="position-relative">
          <div class="w-layout-grid grid-2-columns why-us-grid-2-col-02">
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9190b-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9190b" style="opacity:0" class="why-us-image-left-container">
              <div class="inner-container _568px width-100"><img sizes="(max-width: 767px) 69vw, (max-width: 991px) 568px, (max-width: 1439px) 42vw, 568px" srcset="../static/images/6686b9ca3be2d849d6487abe_why-us-image-left-agencia-webflow-ecommerce-template-p-500.png 500w, ../static/images/6686b9ca3be2d849d6487abe_why-us-image-left-agencia-webflow-ecommerce-template-p-800.png 800w, ../static/images/6686b9ca3be2d849d6487abe_why-us-image-left-agencia-webflow-ecommerce-template.png 1136w" alt="" src="../static/images/6686b9ca3be2d849d6487abe_why-us-image-left-agencia-webflow-ecommerce-template.png"></div><img loading="eager" src="../static/images/why-us-image-left-shape-agencia-webflow-ecommerce-template.svg" alt="" class="why-us-image-top-right-shape">
            </div>
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9190f-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9190f" style="opacity:0" class="why-us-description-01">
              <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b91910" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="why-us-title-01">
                <div class="mg-bottom-8px">
                  <div class="display-4 text-medium text-color-primary-2-copy">¿Por qué nosotros?</div>
                </div>
                <h2 class="display-9">Alojamiento web especial para empresas</h2>
              </div>
              <div>
                <p class="paragraph-large mg-bottom-24px">Ofrecemos alojamiento web robusto y seguro, con alta disponibilidad, velocidad optimizada y el mejor precio. Nuestra infraestructura escalable y herramientas avanzadas garantizan un rendimiento y crecimiento óptimos.</p>
                <div class="mg-bottom-40px mg-bottom-24px-tablet">
                  <div class="inner-container _480px">
                    <div class="flex">
                      <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9191c-d6487900">
                      <div class="display-7 text-medium text-neutral-800" style="color:#000; font-weight: 600;">
                        <svg style="padding-top:6px" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor" />
                        </svg> Seguridad</div>
                        <div class="display-4 text-neutral-600">Certificados SSL, firewall web y proteccion DDOS</div>
                      </div>
                      <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b91925-d6487900" style="width: 300px;padding-left: 25px;">
                        <div class="display-8 text-medium text-neutral-800" style="color:#000; font-weight: 600;">99,9<span class="display-7 text-color-primary-2" style="font-weight: 800;">%</span></div>
                        <div class="display-4 text-neutral-600">De uptime <br>en servidores</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-horizontal justify-start">
                  <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
                    <div class="text-block">Contactar con ventas</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section top-100px---bottom-200px">
      <div class="w-layout-blockcontainer container-default w-container">
        <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9193c" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="text-center mg-bottom-40px">
          <div class="inner-container _600px center">
            <div class="mg-bottom-8px">
              <div class="display-4 text-medium text-color-primary-2-copy">Migración Gratuita</div>
            </div>
            <h2 class="display-9 mg-bottom-16px">Nos encargaremos de migrar tu web</h2>
            <div class="inner-container _524px center">
              <p class="paragraph-large">Nos hacemos cargo de trasladar tu sitio sin complicaciones para ti y sin pérdida de datos.</p>
            </div>
          </div>
        </div>
        <div class="mg-bottom-48px">
          <div class="w-layout-grid grid-3-columns gap-28px _1-col-tablet">
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b91948-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b91948" style="opacity:0" class="card our-process-card">
              <div class="mg-bottom-40px">
                <div class="w-layout-vflex flex-vertical center text-center"><img src="../static/images/to-do-list-icon-agencia-x-webflow-template.svg"></div>
              </div>
              <div>
                <h3 class="display-7 mg-bottom-16px">1. Te pedieremos los datos necesarios</h3>
                <p class="paragraph-large">Recopilamos toda la información clave para garantizar una migración fluida y sin errores.</p>
              </div>
            </div>
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b91951-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b91951" style="opacity:0" class="card our-process-card">
              <div class="mg-bottom-24px">
                <div class="w-layout-vflex flex-vertical center text-center"><img src="../static/images/execution-icon-agencia-x-webflow-template.svg" class="image-size _190px"></div>
              </div>
              <div>
                <h3 class="display-7 mg-bottom-16px">2. Nos pondremos manos a la obra</h3>
                <p class="paragraph-large">Iniciaremos el proceso de migración con precisión y rapidez, asegurando una transición sin problemas.</p>
              </div>
            </div>
            <div id="w-node-_717b3a75-e6b3-e33a-bb4c-0ec5a1b9195a-d6487900" data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9195a" style="opacity:0" class="card our-process-card">
              <div class="mg-bottom-40px">
                <div class="w-layout-vflex flex-vertical center text-center"><img src="../static/images/chart-icon-agencia-x-webflow-template.svg" class="image-size _180px"></div>
              </div>
              <div>
                <h3 class="display-7 mg-bottom-16px">3. Drisfruta de tu nuevo alojamiento</h3>
                <p class="paragraph-large">Empieza a disfrutar de tu alojamiento web con nosotros.</p>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b91963" style="opacity:0">
          <div class="buttons-row">
            <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/pricing" class="button-primary-copy w-inline-block">
              <div class="text-block">Quiero migrar mi web a Hostie</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-section-05">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="position-relative">
          <div class="cta-section-06">
            <div class="bg-floating-content border-radius-32px">
              <div class="bg-primary-02 _w-h-100"></div>
            </div>
            <div class="w-layout-grid grid-2-columns cta-grid-2-col-06">
              <div id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27dfa-d6487900" data-w-id="b2cbffd4-4681-2fb8-d526-dbddc2d27dfa" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="pd-64px-top-and-bottom pd-0-tablet">
                <div class="mg-bottom-8px">
                  <div class="display-4 text-medium text-neutral-100">Conectamos tu empresa con el mundo</div>
                </div>
                <h2 class="display-9 text-neutral-100">Impulsa tu Negocio con Hosting de Primera</h2>
                <div class="inner-container _566px _100-tablet">
                  <p class="paragraph-large text-neutral-200 mg-bottom-32px">Disfruta de velocidad, fiabilidad y soporte experto a un precio competitivo para llevar tu negocio al siguiente nivel en línea.</p>
                </div>
                <div class="buttons-row left">
                  <a id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c" href="/{{current_lang}}/contact" class="button-primary-copy w-inline-block">
                    <div class="text-block">Contactanos</div>
                  </a>
                  <a id="w-node-_6e1ebe92-67bf-b8a3-d747-c93103f23850-03f23850" href="/{{current_lang}}/pricing" class="secondary-button white w-inline-block">
                    <div class="text-block" style="color:#fff!important;">Ver precios</div>
                  </a>
                </div>
              </div>
              <div id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27e08-d6487900" data-w-id="b2cbffd4-4681-2fb8-d526-dbddc2d27e08" style="opacity:0" class="z-index-1"><img src="../static/images/irexta.png" loading="lazy" id="w-node-b2cbffd4-4681-2fb8-d526-dbddc2d27e09-d6487900" sizes="(max-width: 479px) 82vw, (max-width: 767px) 85vw, (max-width: 991px) 87vw, (max-width: 1439px) 42vw, 547.5833129882812px" alt="" srcset="../static/images/irexta-p-500.png 500w, ../static/images/irexta.png 683w" class="fit-cover _w-h-100"></div>
            </div>
          </div>
          <div class="inverted-border-radius-wrapper cta-section-06-right"><img src="../static/images/inverted-border-radius-v12-image-agencia-x-webflow-template.svg" alt="Inverted Border Radius V12 Image - Agencia X Webflow Template"></div>
        </div>
      </div>
    </section>
    <section class="cta-section-05">
      <section class="section top-200px---botttom-100px">
        <div class="w-layout-blockcontainer container-default w-container">
          <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b91981" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="mg-bottom-32px">
            <div class="inner-container _524px center">
              <div class="w-layout-vflex flex-vertical center text-center">
                <div class="mg-bottom-8px">
                  <div class="display-4 text-medium text-color-primary-2">Por todo el globo</div>
                </div>
                <h2 class="display-9 mg-bottom-16px">Ofrecemos servicio web a nivel mundial</h2>
                <p class="paragraph-large">Brindamos soluciones de alojamiento web accesibles y confiables en todo el mundo.</p>
              </div>
            </div>
          </div>
          <div data-w-id="717b3a75-e6b3-e33a-bb4c-0ec5a1b9198b" style="opacity:0" class="mg-bottom-40px"><img sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 96vw, 1244px" srcset="../static/images/testimonial-around-the-world-image-agencia-x-webflow-template-p-500.png 500w, ../static/images/testimonial-around-the-world-image-agencia-x-webflow-template-p-800.png 800w, ../static/images/testimonial-around-the-world-image-agencia-x-webflow-template-p-1080.png 1080w, ../static/images/testimonial-around-the-world-image-agencia-x-webflow-template.png 2506w" alt="" src="../static/images/testimonial-around-the-world-image-agencia-x-webflow-template.png" class="fit-cover _w-h-100"></div>
        </div>
      </section>
    </section>
    <footer class="footer-wrapper">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="footer-bottom _01">
          <p class="display-4" style="font-size:16px">Copyright © <strong class="bold-text-2">Hostie</strong> | A Company By <img height="15px" width="auto" src="../static/images/logo-stridax.png" /></p>
          <div class="social-media-flex">
            <p class="display-4" style="font-size:13px">Política de privacidad&nbsp;&nbsp;·&nbsp;&nbsp;Política de cookies&nbsp;&nbsp;·&nbsp;&nbsp;Términos y condiciones&nbsp;&nbsp;·&nbsp;&nbsp;Aviso Legal</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="../static/js/6686b9ca3be2d849d6487845.js" type="text/javascript"></script>
  <script src="../static/js/webflow.js" type="text/javascript"></script>
</body>
</html>